<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>
<link rel="manifest" href="{{ "/manifest.webmanifest" | relative_url }}">
<meta name="theme-color" content="#ffffff">
<link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/icons/favicon.ico" | relative_url }}">
<title>{{ page.title | default: site.title }} | {{ site.title }}</title>
{% seo %}